One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [78]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [79]:
data = pd.read_fwf('C:/Users/JC88Main/Week7/Day2/Lab/lab-t-tests-p-values-master/files_for_lab/machine.txt', encoding = 'utf-16')
data.head()

   New machine   Old  machine
0         42.1  42.7      NaN
1         41.0  43.6      NaN
2         41.3  43.8      NaN
3         41.8  43.3      NaN
4         42.4  42.5      NaN

In [80]:
sample = data[['New machine', 'Old']]
sample.head()

   New machine   Old
0         42.1  42.7
1         41.0  43.6
2         41.3  43.8
3         41.8  43.3
4         42.4  42.5

In [81]:
# Now that we have our sample let's try the t - test
# Like in class we will assume variances are equal

In [82]:
sample = data.sample(10, random_state=14)
sample_a, sample_b = sample['New machine'], sample['Old']

sp/sqrt(na+nb) =

In this case, **if we assume that the variances are equal** (1/2 < s1/s2 < 2) the t statistic is given by:

$$t=\frac{(\mu_{a}-\mu_{b})}{s_{p}\sqrt{\frac{1}{n_{a}}+\frac{1}{n_{b}}}}$$

with:

$$s_{p}=\sqrt{\frac{(n_{a}-1)s_{a}^{2}+(n_{b}-1)s_{b}^{2}}{(n_{a}+n_{b}-2)}}$$

In [83]:
sample_a_mean, sample_b_mean = sample['New machine'].mean(), sample['Old'].mean()
sample_a_std, sample_b_std = sample['New machine'].std(ddof=1), sample['Old'].std(ddof=1)
sp = ( len(sample_a) - 1 ) * ( sample_a_std**2 ) +  ( len(sample_b) - 1 ) * ( sample_b_std**2 )
sp /= ( len(sample_a) + len(sample_b) - 2)
r = np.sqrt( (1/len(sample_a)) + (1/len(sample_b)) )
t = ( sample_a_mean - sample_b_mean )/ (sp * r)
print("The mean of sample a is {:.2f}".format(sample_a_mean))
print("The mean of sample b is {:.2f}".format(sample_b_mean))
print("The standard deviation of sample a is {:.2f}".format(sample_a_std))
print("The standard deviation of sample b is {:.2f}".format(sample_b_std))
print("The ratio of the sample variances is {:.2f} which is bigger than 0.5 and smaller than 2".format(sample_a_std/sample_b_std))
print("The t statistic is: {:.2f}".format(t))

The mean of sample a is 42.14
The mean of sample b is 43.23
The standard deviation of sample a is 0.68
The standard deviation of sample b is 0.75
The ratio of the sample variances is 0.91 which is bigger than 0.5 and smaller than 2
The t statistic is: -4.74

## t - test

In [84]:
st.t.ppf((0.05),df = len(sample_a)+len(sample_b)-2)

-1.734063606617536

In [85]:
st.t.cdf(t,df = len(sample_a)+len(sample_b)-2)

8.260617649942772e-05

H0 = New machine is faster than old one /
H1 = New machine has same or slower speed than old machine

In [86]:
# 1 side test
# The t value of -4.74 is lower than -1.73 we reject H0
# The p value of 8.260617649942772e-05 is lower than 0.05 we reject H0

In this case we reject H0, new machine is slower than older one

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [87]:
data = pd.read_csv('C:/Users/JC88Main/Week7/Day2/Lab/lab-t-tests-p-values-master/files_for_lab/pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Case: difference between Att and Def / 
H0 = Att & Def are equal / 
H1 = Att & def are different - two side test?

In [88]:
sample = data.sample(799, random_state=1)

In [89]:
sample['Difference'] =sample['Attack']-sample['Defense']
sample = sample[['Defense','Attack','Difference']]
sample.shape
sample

     Defense  Attack  Difference
8         78     104          26
510       75      92          17
175       34      46          12
735       58      50          -8
242       75     105          30
..       ...     ...         ...
645       85      95          10
715       77      77           0
767      119     121           2
72        50      80          30
235       75     130          55

[799 rows x 3 columns]

In [90]:
# computing mean of Difference between perks

In [91]:
sample_diff_mean, sample_diff_std = sample['Difference'].mean(), sample['Difference'].std(ddof=1)
sample_diff_mean, sample_diff_std

(5.1439299123904885, 33.75086461456459)

In [92]:
# Two sided test, therefore:

Out t statistic is:

$$t = \frac{\overline{d}}{\frac{\sigma}{\sqrt{n}}}$$

where $\overline{d} = mean(sample_b - sample_a)$

In [93]:
t = sample_diff_mean / ( sample_diff_std / np.sqrt(sample.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(sample_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(sample_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: 5.14
The standard deviation of our samples differences is: 33.75
Our t statistics is: 4.31

In [94]:
# Setting critical value with 95% of confidence interval

In [95]:
tc = st.t.ppf(1-(0.05/2),df= sample.shape[0] - 1)
tc

1.9629411928266054

In [96]:
# t = 4.31
# tc = 1.96
# 4.31 > 1.96 we reject H0 Att & Def are different

Now with p-value

In [97]:
st.t.cdf(t,df = sample.shape[0] - 1)

0.9999907389701359

The probability to see a t value as big as this one is for the t-Student distribution is:

$$P(x <=t=4.31) = 0.99999> 0.025$$

we reject the H0.

In [98]:
st.ttest_rel(sample['Attack'],sample['Defense']) # H0 rejected

Ttest_relResult(statistic=4.308077717509027, pvalue=1.852205972806219e-05)

### Inferential statistics - ANOVA

## Part1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

## Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

## State the null hypothesis
H0 = No difference in the meam etching rate for different levels of power.

## State the alternate hypothesis
H1 = Difference in the mean etching rate for different levels of power.

## What is the significance level
0.05  ( 0.95 confidence interval)

## What are the degrees of freedom of model, error terms, and total DoF

In [99]:
#Number of degrees of freedom dof1:  2
#Number of degrees of freedom dof2:  12

### Part2

## In this section, use the Python to conduct ANOVA.
## What conclusions can you draw from the experiment and why?

In [100]:
etching_rate = pd.read_excel('C:/Users/JC88Main/Week7/Day2/Lab/lab-t-tests-p-values-master/files_for_lab/anova_lab_data.xlsx')
etching_rate.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [101]:
etching_rate.columns=etching_rate.columns.str.rstrip(" ")

In [102]:
etching_rate.Power.value_counts()

160 W    5
180 W    5
200 W    5
Name: Power, dtype: int64

In [103]:
dof1 = etching_rate['Power'].nunique() - 1
dof2 = len(etching_rate) - etching_rate['Power'].nunique()

print("Number of degrees of freedom dof1: ",dof1)
print("Number of degrees of freedom dof2: ",dof2)

Number of degrees of freedom dof1:  2
Number of degrees of freedom dof2:  12

In [104]:
groupped_df=etching_rate.groupby('Power')['Etching Rate'].agg(Etching_mean_rate='mean',Sample_size='count').reset_index()
groupped_df

   Power  Etching_mean_rate  Sample_size
0  160 W              5.792            5
1  180 W              6.238            5
2  200 W              8.318            5

In case of the One way ANOVA test, the statistic to compute F is given by:

$$F = \frac{\hat{S}_{t}^{2}}{\hat{S}_{E}^{2}}$$

where:

$$\hat{S}_{t}^{2} = \frac{SST}{(K-1)}= \frac{\sum_{g}n_{g}(\bar{y}_{g}-\bar{y})^{2}}{(K-1)}$$

and:

$$\hat{S}_{E}^{2}=\frac{SSE}{(N-K)}=\frac{\sum_{g}\sum_{i}(y_{gi}-\bar{y}_{g})^{2}}{(N-K)}$$

In this expression $g$ means **group**, $i$ **value**, and $n_{g}$ is the number of observations in group $g$ and $K$ is the number of groups. Finally, the bar over $y$ means **mean**. 

This formula looks horrible, but let's try to understand what is each term. 

SST:

This term computes how much it **deviates each group mean from the global mean** and add the squares of those deviations multiplied by the number of members in the group divided by the number of members minus one.

SSE:

This other term, computes **how much every single value of every group deviates from the group mean**.

In summary, SST computes the variance of the group means from the global mean, while SSE computes the variance of the values against the global mean.

In [105]:
S2t = 0
for power in etching_rate['Power'].unique():
    ng = len(etching_rate[etching_rate['Power'] == power])  
    S2t  += ( ( etching_rate[etching_rate['Power'] == power]['Etching Rate'].mean() - etching_rate['Etching Rate'].mean() ) ** 2) * ng
S2t /= ( etching_rate['Power'].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

Now let's go with $\hat{S}_{E}^{2}$:

In [106]:
S2E = 0
for power in etching_rate['Power'].unique():
    for rate in etching_rate[etching_rate['Power'] == power]['Etching Rate']:
        S2E += ( rate - etching_rate[etching_rate['Power'] == power]['Etching Rate'].mean() ) ** 2
S2E /= ( len(etching_rate) - etching_rate['Power'].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

Now I will compute F

In [107]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [109]:
st.f_oneway(etching_rate[etching_rate['Power'] == 1]['Etching Rate'],etching_rate[etching_rate['Power'] == 2]['Etching Rate'],etching_rate[etching_rate['Power'] == 3]['Etching Rate'],etching_rate[etching_rate['Power'] == 4]['Etching Rate'],etching_rate[etching_rate['Power'] == 5]['Etching Rate'])[1]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:3621: F_onewayBadInputSizesWarning: at least one input has length 0
  warnings.warn(F_onewayBadInputSizesWarning('at least one input '

nan

In [110]:
# Not sure why I'm having this error.
# could not compute F so I have no conclusion on accepting H0 or not :(